@import 'nib'

.center
    align-items center !important
    text-align center

.center-vert
    align-items flex-start
    display flex
    flex-direction column
    height 100%
    justify-content center

.pic-container
    align-items center
    justify-content center
    display flex

section
    padding 30px 0

section:not(first-child)
    border-top 1px solid #B6B6B6

h3
    color #727272
    font-size 25px
    text-align center
    text-transform uppercase

h5
    font-size 22px


// header
.header
    background #3f51b5
    border-bottom 16px solid #303f9f
    color #fff
    padding 60px 0
    text-align center

.title
    margin-bottom 1rem

.subtitle
    color #c5cae9
    font-size 24px

.img-round
    border-radius 50%
    height 120px
    width 120px


// about section
#avatar
    background url('../img/avatar.jpg') center center no-repeat
    background-size 100%
    margin-bottom 25px

.about .column
    height 200px


// experience section
.experience__title
    margin-bottom 8px


// education section
#umd
    background url('../img/umd.png') center center no-repeat
    background-size 100%

.education
    
    p
        margin-bottom 10px

    .column
        height 200px


// footer
.footer
    text-align center
