extends layout

block content
  section
    h2 About Me
    p
      | I'm a front-end engineer specializing in web application development.
      | I have a passion for building tools for a more useful Internet.

  section
    h2 Experience
    
    div
      h3 Switch, Front-end Engineer
      p Oct. 2014 - Present
      ul
        li
          | Built AngularJS client application that enables employers to use
          | Switch on the web
        li
          | Contribued to backend feature additionans and maintenance to
          | Switch's core product
        li
          | Worked with designers to implement improvements to 
          | the #[a(href="//www.switchapp.com", target="_blank") Switch homepage]

    div
      h3 Booz Allen Hamilton, Software Engineer Intern
      p June - Aug. 2014
      ul
        li
          | Worked with team of interns to design and build web-based portal
          | to communicate with a CubeSat communication system

    section
      h2 Skills
      ul
        li HTML5 & CSS3
        li JavaScript & CoffeeScript
        li Python, Django, & SQL
        li Web Application Development
