extends layout

block content
  //- skills
  section
    div.container
      div.row
        div.one-third.column
          div.skill
            i.fa.fa-html5
            h2.skill__title HTML & CSS
            p.skill__description
              | I love the challenge of building content that looks good
              | everywhere.

        div.one-third.column
          div.skill
            i.fa.fa-server
            h2.skill__title Backend
            p.skill__description
              | Even the sleekest car needs an engine. I can help you choose the
              | best one to fit your needs.

        div.one-third.column
          div.skill
            i.fa.fa-tachometer
            h2.skill__title Performance Tuning
            p.skill__description
              | Tricks like minification and image compression can speed up
              | your site, provide a better user experience, and increase conversions.
              | I'll show you how.

  //- about me
  section
    div.container
      div.column.center-vert.center
        h3 About Me#[a(name="about")]
        p
          | I'm a web developer who loves building tools to make the Internet
          | a more useful place. I graduated from the University of Maryland
          | in 2015 with a B.S. in Computer Science and a minor in
          | Technology Entrepreneurship.
        p
          | Some of my interests include developer workflow optimization,
          | advocating the use of cutting-edge tools to advance the state of 
          | the web, online privacy, and coffee.

  //- experience
  section
    div.container
      div.row
        div.column.one-half
          h3 Code#[a(name="work")]
          
          div.experience
            h5.experience__title #[a(href="https://github.com/unscsprt/timestamp.js") timestamp.js]
            p JavaScript library for converting date strings to timestamps

          div.experience
            h5.experience__title #[a(href="https://github.com/unscsprt/DryIce") DryIce]
            p Anonymous & temporary online filesharing service

          div.experience
            h5.experience__title #[a(href="https://github.com/unscsprt/metro-grid") metro-grid]
            p Realtime, at-a-glance status of D.C. metro rail

          div.experience
            h5.experience__title #[a(href="https://github.com/unscsprt/metro-grid") Firebase tic-tac-toe]
            p Multiplayer tic-tac-toe powered by Firebase

        div.column.one-half
          h3 Work
          
          div.experience
            h5.experience__title Switch, Front-end Engineer
            p.experience__detail 2014 - 2015 (New York City, NY)
            ul
              li
                | Built client-facing AngularJS app for employers
              li
                | Added new features to Switch's backend
              li
                | Worked on the #[a(href="//www.switchapp.com", target="_blank") Switch homepage]

          div.experience
            h5.experience__title Booz Allen Hamilton, Software Engineer Intern
            p.experience__detail June - Aug. 2014 (D.C. Metro Area)
            ul
              li
                | Built a web app to take a view pictures via
                | radio communication with a CubeSat

          div.experience
            h5.experience__title UMD CATT Lab, Web Developer & IT Admin
            p.experience__detail 2013 - 2014 (College Park, MD)
            ul
              li Django web development and Linux server administration

  //- call to action
  section.cta
    div.container
      div.row.center.center-vert
        h3 Need some work done?
        i.fa.fa-line-chart
        p
          | Email me for a consultation! Take the first step and improve you or
          | your business' online presence today.
        p #[strong Contact Me] - craig[at]craigpalermo.com
