extends layout

block content
  section
    div.container
      h3 About Me

      div.row
        div.center-vert
          div.pic-container
            div#avatar

      div.row
        div.center-vert
          p
            | I'm a front-end engineer specializing in web application development.
            | I have a passion for building tools for a more useful Internet.


  section
    div.container
      div.row
        h3 Experience
        
        div
          h5 Switch, Front-end Engineer
          p Oct. 2014 - Present (NYC)
          ul
            li
              | Built AngularJS client application that enables employers to use
              | Switch on the web
            li
              | Contribued to backend feature additionans and maintenance to
              | Switch's core product
            li
              | Worked with designers to implement improvements to 
              | the #[a(href="//www.switchapp.com", target="_blank") Switch homepage]

        div
          h5 Booz Allen Hamilton, Software Engineer Intern
          p June - Aug. 2014 (D.C. Metro Area)
          ul
            li
              | Worked with fellow interns to build a web-based portal
              | to communicate with a CubeSat communication system


  section
    div.container
      h3 Skills

      div.row
        div.one-third.column
          h5 Front-end
          ul
            li HTML5 & CSS3
            li AngularJS
            li JavaScript & CoffeeScript

        div.one-third.column
          h5 Back-end
          ul
            li Django
            li SQL

        div.one-third.column
          h5 General
          ul
            li Web Application Development
            li Python
            li Workflow Optimization

  section
    div.container
      h3 Education

      div.row.education
        div.one-half.column.center-vert
          h4 B.S. of Computer Science
          h5 University of Maryland, College Park
        div.one-half.column.center-vert
          div.pic-container
            div#umd
