extends layout

block content

  //- about me
  section
    div.container
      div.one-half.column.center-vert.center
        h3 About Me
        p
          | I'm a front-end engineer specializing in web application development.
          | I have a passion for building tools for a more useful Internet.

      div.row
        div.one-half.column.center-vert.center
          div.pic-container
            div#avatar.img-round

  //- experience
  section
    div.container
      div.row
        h3 Professional Experience
        
        div.experience
          h5.experience__title Switch, Front-end Engineer
          p Oct. 2014 - Present (New York City, NY)
          ul
            li
              | Built AngularJS client application that enables employers to use
              | Switch on the web
            li
              | Contribued to backend feature additions and maintenance to
              | Switch's core product
            li
              | Worked with designers to implement improvements to 
              | the #[a(href="//www.switchapp.com", target="_blank") Switch homepage]

        div.experience
          h5.experience__title Booz Allen Hamilton, Software Engineer Intern
          p June - Aug. 2014 (D.C. Metro Area)
          ul
            li
              | Worked with fellow interns to build a web-based portal
              | to communicate with a CubeSat communication system

        div.experience
          h5.experience__title UMD CATT Lab, Web Developer & IT Admin
          p May 2013 - May 2014 (College Park, MD)
          ul
            li
              | Built Django web application prototype for FAA that would
              | allow air traffic controllers to vote on proposed daily operations
            li
              | Added new features and bug fixes to existing Django projects
            li
              | Performed OS installs and Linux server infrastructure maintenance

  //- skills
  section
    div.container
      h3 Skills & Interests

      div.row
        div.one-third.column
          h5 Front-end
          ul
            li HTML5 & CSS3
            li AngularJS
            li JavaScript & CoffeeScript

        div.one-third.column
          h5 Back-end
          ul
            li Django
            li SQL

        div.one-third.column
          h5 General
          ul
            li Web Application Development
            li Python
            li Workflow Optimization

  //- education
  section
    div.container
      div.row.education
        div.one-half.column.center-vert.center
          h3 Education
          p 
            | B.S. of Computer Science
          p
            | University of Maryland, College Park

        div.one-half.column.center-vert.center
          div.pic-container
            div#umd.img-round
