doctype html
html(lang="en")
  head

    //- misc settings
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0")

    title= title

  body

    nav
      div.container
        div
          div.nav__logo Craig Palermo
          ul.nav__links
            li
              a(href="#about") About
            li
              a(href="#work") Work
            li
              a(href="//blog.craigpalermo.com") Blog

    header.header
      div.header-overlay
        div.container
          h1.title I'm a web developer

    block content

    footer.footer
      div.container
        p &#169; Craig Palermo, 2015

    //- vendor scripts
    script(src='/vendor/jquery/jquery.js')

    //- styles
    link(rel="stylesheet", href="/vendor/normalize.css/normalize.css")
    link(rel="stylesheet", href="/vendor/skeleton/skeleton.css")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel="stylesheet", href='http://fonts.googleapis.com/css?family=Bitter')
    link(rel="stylesheet", href="/stylus/style.css")
