extends layout

block extrascript
  script.
    $('#links__services').addClass('active');

block content
  section
    div.container
      div.row
        h3 Services
        p
          | Our developers are familiar with many of the latest tools and best
          | practices and will work with you to create a website
          | that engages your customers and quickly delivers the information
          | they're looking for.
          
  section
    div.container
      div.row
        div.column.one-half
          h4 Code
          ul
            li HTML5
            li CSS3
            li JavaScript
            li CoffeeScript
            li Python
            
        div.column.one-half
          h4 Tools
          ul
            li AngularJS
            li jQuery
            li Django
            li NodeJS
            li AJAX
            li Google Analytics
            li Mixpanel Analytics
